<%# 描画部分として以下を追加 %>


<div class="calendar-photo-container">
<h2>6月7月スケジュール表</h2>
  <%= image_tag 'june_july_2026_6_7.png',class: 'calendar-photo',alt: '短期' %> 
</div>

<div class="calendar-photo-container">
<h2>夏の短期水泳教室</h2> 
  <%= image_tag '夏短期教室.png',class: 'calendar-photo',alt: '夏の短期' %> 
</div>
