<%# 描画部分として以下を追加 %>


<div class="calendar-photo-container">
  <h2>1月スケジュール表</h2>
  <%= image_tag 'January.png', class: 'calendar-photo', alt: '1月スケジュール' %>
</div>

<div class="calendar-photo-container">
<h2>2月3月スケジュール表</h2> 
  <%= image_tag 'feb_mar_schedule.png', class: 'calendar-photo', alt: '2月3月スケジュール' %>
</div>
