<%# 描画部分として以下を追加 %>

<div class="calendar-photo-container">
  <h2>9月10月スケジュール表</h2>
  <%= image_tag 'schedule_september_october.png', class: 'calendar-photo', alt: '9月10月スケジュール' %>
</div>

<div class="calendar-photo-container">
  <h2>11月12月スケジュール表</h2>
  <%= image_tag 'november_december.png', class: 'calendar-photo', alt: '9月10月スケジュール' %>
</div>
