<div class="container">
  <h2>体験につきまして</h2>
お水あそび体験<br/>
シャワー浴び、水中歩行など、水慣れクラスのレッスンを体験します(30分程度<br/>
プールの水深を補助フロア台で調整し、必要に応じアームヘルパーを使用します。<br/>
保護者さまは、プール外の見学スペースにてご観覧いただけます。<br/>
<br/>
<P>お問い合わせメールアドレスはこちら<br><a href="mailto:jr.swimmingmeguro@donerave.com">代表メールアドレス</a></P>

<h2>入会につきまして</h2>
無料体験時にご説明いたします。<br/>
お気軽にお問い合わせメールをお送りください。<br/>
</div>
